$max-page-width: 580px;

$background-color: #fff;

$_primary-color: #2697f7;

$background: #fafafa;
$backgroundRgba: rgba(250,250,250,0.99);
$heading-color: $_primary-color;
$text-color: #333;
$link-color: $_primary-color;
$link-on-color: #888;
$line-color: #ededed;



$meta-text-color: #888;
$meta-icon-color: #ddd;

$line-light-color: #ededed;
$line-dark-color: #e3e3e3;
$line-highlight-color: #fff;

$link-reverse-color: #fff;

$hover-border-highlight-color: #bbb;
$hover-highlight-color: rgba(255,255,255,.3);