@import "libs/_normalize-1.1.2";
@import "_vars";
@import "_helpers";

html,
body {
    background: $background-color;
}

body {
    margin: 0;
    padding: 0;

    * {
        box-sizing: border-box;
    }
}