<header class="site-header" id="top">
  <div class="container">
    <h1 class="site-logo"><a href="/">{{ site.title }}</a></h1>
    <nav class="site-nav">
      <ul>
      {{#withSort pages "data.primary" }}
        {{#if data.primary}}
        <li><a href="{{ relative this.dest ../page.dest }}">{{ capitalizeFirst data.title }}</a></li>
        {{/if}}
      {{/withSort}}
      </ul>
    </nav>
</header>